body {
    font-size: 24px;
    text-align: center;
    border: 16px solid red;
}

a:link {
    color:Green;
}

a:visited {
    color: yellow
}

a:hover {
    color: Purple
}
a:active {
    color:Blue
}